# Gitignore file
*.pyc
*.log
*.egg-info
data.db
*.python-version
*.DS_Store
slices

# Some c++ stuff
a.out
*.plist
test_client.dSYM
*checkpoint.ipynb
emu_python/sampling00000.nc
emu_python/front_end.db
emu_python/control_center.db
emu_python/test_client_cpp/test_client
emu_python/df_flow.p
emu_python/flow_data.p

t_*.txt
emu_python/sample_copy.nc
emu_python/t_0*
emu_python/local_amr_wind_demo/sample_copy.nc

#Ignore csv files
*.csv

# Some output files to ignore
t_00*
logdummy
logemu
*echo